	<article itemscope itemtype="http://data-vocabulary.org/Organization">
		<header>
			<h3 itemprop="name">
				<a href="?state=stateZero"><?php echo LOGO;?></a>&trade;
			</h3>
		</header>
		<footer>
			<small class="footer">
				&copy; 2014 АО "Интерпост",<br/>
				<span itemprop="geo" href="https://maps.google.com/maps/api/staticmap?sensor=false&amp;center=48.47638835%2C34.983722199999995&amp;zoom=14&amp;size=256x256&amp;language=ru&amp;markers=48.476388899999996%2C34.983722199999995&amp;client=google-maps-frontend&amp;signature=i1EcCMLwU5xi5oKkP7WP--nYDF8"  target="blanc">г. Днепропетровск</span>, 
				<span itemprop="address">пр. Калинина 61</span>,
				<span itemprop="telephone" href="tel:+380(99)0500150" >(099)&nbsp;050-0150</span>.
				<br/><span href="http://vkonverte.com.ua?state=stateZero"">http://vkonverte.com.ua</span>
				<br/><a href="http://validator.w3.org/check?uri=referer"></a>
			</small>
		</footer>
	</article>

	<div id="product" itemscope itemtype="http://data-vocabulary.org/Product">
		<span itemprop="seller">АО "Интерпост"</span>
		<span itemprop="category" content="Услуги > Почтовые > Доставка">Услуга доставки</span>
		<span itemprop="identifier" content="mpn:925872">925872</span> 
		<span itemprop="brand">ВКонверте &trade;</span> 
		<span itemprop="name">Файл в почтовом конверте</span>
		<img itemprop="image" alt="ВКонверте" src="./img/mail.png" height="8" />
		<span itemprop="description"><?php echo TITLE." "; echo DESCRIPTION; ?></span> 
		<span itemprop="review" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
			<span itemprop="rating">4,3</span> на основе <span itemprop="count">89</span> отзывов</span> 
			<span itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer"> Обычная цена: 16 грн.
			<meta itemprop="priceCurrency" content="UAH" /> UAH<span itemprop="price">14,5</span> 
			(только до <time itemprop="priceValidUntil" datetime="2020-11-05"> 5 января!</time>)
			Состояние: <span itemprop="condition" content="used">новинка</span> 
			<span itemprop="availability" content="in_stock">Скидка</span>
		</span>
		<a href="https://plus.google.com/117018063430296835282" rel="publisher" target="blanc">G+</a>
	</div>
</body>
</html>

<link href="css/media-queries.css" rel="stylesheet" type="text/css" async/> 
<link href="css/style.css" rel="stylesheet" type="text/css" async/>
<!--[if lt IE 9]>
	<script src="js/html5.js" async></script>
	<script src="js/css3-mediaqueries.js" async></script>
<![endif]--> 

