<article style="display: none">
	<div itemscope itemtype="http://data-vocabulary.org/Product">
		Продавец: <span itemprop="seller">ВКонверте</span>
		Категория: <span itemprop="category" content="Услуги > Почтовые > Доставка">Услуга доставки</span>
		Номер изделия: <span itemprop="identifier" content="mpn:925872">925872</span> 
		<span itemprop="brand">ВКонверте</span> 
		<span itemprop="name">Файл в почтовом конверте</span>
		<img itemprop="image" alt="ВКонверте" src="../img/mail.png" height="32" />
		<span itemprop="description"><?php echo $this->title." "; echo $this->description; ?></span> 
		<span itemprop="review" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
			<span itemprop="rating">4,3</span> на основе <span itemprop="count">89</span> отзывов</span> 
			<span itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer"> Обычная цена: 16 uhy.
			<meta itemprop="priceCurrency" content="UAH" /> UAH<span itemprop="price">14,5</span> 
			(только до <time itemprop="priceValidUntil" datetime="2020-11-05"> 5 ноября!</time>)
			Состояние: <span itemprop="condition" content="used">новинка</span> 
			<span itemprop="availability" content="in_stock">Скидка</span>
		</span>
	</div>
</article>
<footer style="display: none">
	<span itemscope itemtype="http://data-vocabulary.org/Organization">
		<span itemprop="name">ВКонверте &trade;</span>, <span
		itemprop="address">пр. Калиниа 61, Днепропетровск</span>, <a
		href="https://maps.google.com/maps/api/staticmap?sensor=false&amp;center=48.47638835%2C34.983722199999995&amp;zoom=14&amp;size=256x256&amp;language=ru&amp;markers=48.476388899999996%2C34.983722199999995&amp;client=google-maps-frontend&amp;signature=i1EcCMLwU5xi5oKkP7WP--nYDF8"
		itemprop="geo" target="blanc">48.47, 34.98</a>, <a
		href="tel:(099)050-0150" itemprop="telephone">(099)&nbsp;050-0150</a>.
		<a itemprop="url" href="http://vkonverte.com.ua">http://vkonverte.com.ua</a>
		<a href="https://plus.google.com/117018063430296835282"
		rel="publisher" target="blanc">ВКонверте в Google+</a> <a
		href="http://validator.w3.org/check?uri=referer">XML</a>
	</span>
</footer>
</body>
</html>