<!DOCTYPE html>
<html lang="ru">
<head>
	<title><?php echo $this->title." | ".$this->context->state->runame?></title>
	<meta charset="utf-8" />
	<meta name="description" content="<?php echo $this->description; ?>" />
	<meta name="keywords" content="<?php echo $this->keywords; ?>" />
	<meta name=vviewport content="width=device-width, initial-scale=1">
	<link href="favicon.ico" rel="icon" type="image/x-icon" />
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<style>html {border:0px solid silver;} img {border: 0;}</style>
<!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<sscript src="js/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<body>
