<article>
<h2><?php echo $this->context->state->runame?></h2>
	<form action=".">
		<table class="convert">
			<tr>
				<td><label for="from">От&nbsp;кого:</label><input
					class="inp" type="text" name="from" id="from"
					value="<?php echo $this->context->fields['from'];?>" /><br /> <label
					for="fromwhere">Откуда:</label><input class="inp" type="text"
					name="fromwhere" id="fromwhere"
					value="<?php echo $this->context->fields['fromwhere'];?>" /><br />
					<label for="fromindex">Индекс:</label><input class="inp"
					type="text" name="fromindex" id="fromindex"
					value="<?php echo $this->context->fields['fromindex'];?>" />
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td><input id="submit" type="submit"
					name="submit" value="Дальше" /></td>
				<td><label for="to">Кому:</label><input
					class="inp" type="text" name="to" id="to"
					value="<?php echo $this->context->fields['to'];?>" /><br /> <label
					for="towhere">Куда:</label><input class="inp" type="text"
					name="towhere" id="towhere"
					value="<?php echo $this->context->fields['towhere'];?>" /><br />
					<label for="toindex">Индекс:</label><input class="inp" type="text"
					name="toindex" id="toindex"
					value="<?php echo $this->context->fields['toindex'];?>" />
				</td>
			</tr>
		</table>
	</form>
</article>
