<article>
<h2><?php echo $this->context->state->runame?></h2>
	<table class="convert">
		<tr>
			<td style="text-align: left;"><span style="color: gray;">Отправитель:</span><br />
				<em> <?php echo $this->context->fields['from'];?> <br /> <?php echo $this->context->fields['fromwhere'];?>
					<br /> <?php echo $this->context->fields['fromindex'];?>
			</em></td>
			<td><img alt="*" src="img/mark.gif" height="116px"></td>
		</tr>
		<tr>
			<td style="text-align: center;">
				<?php if (isset($this->context->file)) echo $this->context->file; ?>
				<?php echo $this->context->payform; ?>
			</td>
			<td style="text-align: left;"><span style="color: gray;">Получатель:</span><br />
				<em> <?php echo $this->context->fields['to'];?> <br /> <?php echo $this->context->fields['towhere'];?>
					<br /> <?php echo $this->context->fields['toindex'];?>
			</em></td>
		</tr>
	</table>
</article>