<article> 
	<h3><?php echo $this->context->action;?></h3>
	<p>Правильный выбор конверта - гарантия сохранности почтового отправления и приятного впечатления.</p>
	<figure>
		<img src="img/mark.gif" height="156px" alt="Контакте"/>
		<figcaption>Почтовая марка - украшение почтового конверта</figcaption>
	</figure>
		
	<section>
		<h3>Размер</h3>
		<p>Евростандарт, классический, формат А4</p>
	</section>
	<section>
		<h3>Материал</h3>
		<p>Бумага, картон, пластик</p>
		<aside>Внутренний вкладыш</aside> 
	</section>
</article>