/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {
	#img1 {max-width: 960px;}
	
}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {
	#img1 {max-width: 640px;}
	

}

/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) {
	#img1 {max-width: 460px;}
	
	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}

}

